<div class="p-3 border rounded">
  <%= for {name, _} <- Helpers.attributes(@value.__struct__) do %>
  <.live_component
    module={EctoLiveWeb.Components.Fields.Smart}
    schema={@schema}
    value={Map.get(@value, name)}
    name={"#{@name}[#{name}]"}
    id={"#{@name}[#{name}]"} />
  <% end %>
</div>