<div class="p-3 border rounded">
  <.live_component
    module={EctoLiveWeb.Components.Fields.Array}
    schema={@schema}
    type={@type}
    value={@value}
    name={"#{@name}"}
    id={Ecto.UUID.generate} />
</div>